//
// This file defines the base configuration for a build that should
// output code coverage files.
// This should be set at the project level for the Coverage configuration.
//

#include "Test.xcconfig"

// Weather to generate debugging symbols
GCC_GENERATE_DEBUGGING_SYMBOLS=YES

// Weather to output code coverage files
GCC_GENERATE_TEST_COVERAGE_FILES=YES

// Weather to use Instrument Program Flow
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES
